

html {
    scroll-behavior: smooth;
}

.main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
    padding: 3vh;
}

.preloader, .fa {
    margin: 2vh;
    text-align: center;
}

#photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    margin: 2vh;
    padding: 1.5vh;
}

#photos p {
    color: antiquewhite;
    font-size: 3.5vh;
    text-align: center;

}


.thumbnailUrl_of_photo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    float: left;
    margin-right: 15px;
    margin-top: 20px;
}

.title_in_album {
    display: inline-block;
    font-wight: 300px;
    margin-bottom: 5px;
    margin-right: auto;
    margin-left: auto;
    text-align: justify;
    width: 90%;
}
.title_in_album img{
    margin-left: auto;
}
.title_name_in_album{
    color: antiquewhite;
    font-size: 3vh;
    margin-top: 35px;
}
.photo_with_title {
    display: block;
    background: #D15E8A;
    border-radius: 10px;
    border-style: solid;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 0.7rem;
    margin-bottom: 5%;
    text-align: center;
}

.main_photo {
    height: 60%;
    width: 60%;
}

@media only screen and (max-width: 655px) {
    .thumbnailUrl_of_photo {
        width: 10%;
        height: 10%;
        margin-top: 6%;
    }
    .title_name_in_album{
        font-size: 2vh;
        margin-top: 7%;
    }
}
