* {
    font-family: "Bodoni 72 Smallcaps";
    color: #4D220E;
}

body {
    background-image: url("back.jpg");
}

H6 {
    font-weight: 300;
    font-size: 26px;
}

P {
    padding-left: 20px;
}

.nav {
    color: white;
    margin-left: 689px;
    margin-bottom: 100px;
}

.nav li {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 19px;
}

.textOnMyPhoto {
    position: relative;
    width: 400px;
    margin-left: 20%;
}

.myPersonalityTraits {
    vertical-align: middle;
}

.headersRight {
    margin-left: 750px;
    margin-bottom: 0px;
    margin-top: 50px;
}

.workAndEducation {
    margin-left: 150px;
    margin-bottom: 5px;
}

.mySkills {
    display: inline-block;
    background-color: #C4C8FD;
    margin-left: 50px;
    font-size: 19px;
    padding-right: 150px;
}

.language {
    display: inline-block;
    margin-left: 730px;
    font-size: 20px;
    margin-bottom: 55px;
}

.languageOfProgramming {
    display: inline-block;
    margin-left: 730px;
    font-size: 20px;
    margin-bottom: 0px;
}

.languageOfProgramming p {
    margin-bottom: 0px;
}

.expectationOfWork {
    display: inline-block;
    margin-left: 70px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    font-size: 19px;
}

.myPhoto {
    float: left;
    height: 370px;
    width: 370px;
    padding-top: 30px;
}

.myContactsPictures {
    height: 40px;
    width: 40px;
    transition: 1s;
}

.myContactsPictures:hover {
    transform: scale(1.2);
}

.plainBackground {
    display: inline-block;
    background-color: #F5E6CB;
    padding-right: 5px;
    margin-left: 100px;
    margin-top: 1%;
    padding-bottom: 2%;
    margin-bottom: 2%;
}
#grid {
    display: grid;
    margin-left: 38%;
    grid-template-rows: 50px 50px 50px;
    grid-template-columns: repeat(2, minmax(40px, 150px));
    grid-gap: 10px;
}
#grid > div {
    font-size: 19px;
    padding: .5em;
    background: #C4C8FD;
    text-align: center;
}
#head {
    position: absolute;
    font-size: 260%;
    font-weight: 300;
    top: -0px;
    right: -20px;
    margin: 0;
}

#expectations {
    margin-top: 0px;
}

#work {
    margin-top: 170px;
}

#aboutMe {
    margin-left: 730px;
    margin-bottom: 50px;
    font-size: 19px;
}
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px){
    .plainBackground{
        display: block;
        background-color: #F5E6CB;
        margin: 2% 10%;
        padding-bottom: 1%;
    }
    .headersRight {
        margin-left: 20%;
        margin-bottom: 0%;
        margin-top: 4%;
    }
    .myPhoto{
        float: none;
        padding-top: 5%;
        height: 110%;
        width: 110%;
    }
    .mySkills{
        display: block;
        margin-left: 4%;
        padding-right: 1%;
        padding-bottom: 1%;
        padding-top: 1%;
    }
    .textOnMyPhoto{
        position: relative;
        margin-left: 25%;
        width: 40%;
    }
    .language{
        display: block;
        margin-left: 10%;
        font-size: 20px;
        margin-bottom: 55px;
    }
    .languageOfProgramming{
        display: block;
        margin-left: 10%;
        font-size: 20px;
        margin-bottom: 0%;
    }
    .nav li{
        display: inline-block;
        padding-left: 2%;
        padding-right: 2%;
        font-size: 19px;
    }
    .nav{
        margin-left: 8%;
    }
    #aboutMe{
        margin-left: 8%;
        margin-bottom: 5%;
        font-size: 19px;
    }
    #head {
        position: absolute;
        font-size: 250%;
    }
    #work{
        margin-top: 0%;
    }
    #grid{
        margin-left: auto;
        margin-right: auto;
    }
}